# Arquivos de dados grandes não versionados
1_Data/Data Climate/Data Climate/Data Climate Processed/processed_all_stations_with_measurements_A2000_2024.csv
1_Data/Data IBGE/BR_RG_Imediatas_2024/BR_RG_Imediatas_2024.shp
